version: '3.8'
services:
  fe-app:
    image: crpi-t28hssqio7d6i5am.cn-hangzhou.personal.cr.aliyuncs.com/long51/long:1.0.0
    ports:
      - 90:90
    depends_on:
      - nest-app
    networks:
      - common-network
  nest-app:
    build:
      context: ./
      dockerfile: ./Dockerfile
    depends_on:
      mysql-container:
        condition: service_healthy
      redis-container:
        condition: service_started
    ports:
      - 3005:3005
    networks:
      - common-network
  mysql-container:
    image: mysql
    volumes:
      - /var/lib/mysql
    environment:
      MYSQL_DATABASE: meeting_room_booking_system
      MYSQL_ROOT_PASSWORD: 123456
    networks:
      - common-network
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      timeout: 20s
      retries: 10
  redis-container:
    image: redis
    volumes:
      - /docker/data
    networks:
      - common-network
networks:
  common-network:
    driver: bridge
